

/* STAR SELECTOR */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* STYLE CLASS */
.content-header{
    height: 70px;
    border: 1px solid black;
}

.content-main-jumbo{
    /* min-height: 250px; */
}

.content-main{
    min-height: 150px;
    border: 1px solid black;
    border-radius: 10px;
}

.content-footer{
    height: 70px;
    border: 1px solid black;
}


.box{
    background-color: red;
}



/* BG CONTAINERS COLORS */
.bg-light-green{
    background-color:rgb(72 188 155) ;
}

.bg-dark-gray{
    background-color: rgb(63 84 109);
}


.content-main-jumbo > img{
    width: 150px;
}


