

/* STAR SELECTOR */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* STYLE CLASS */
.content-header{
    height: 70px;
    border: 1px solid black;
}

.content-main-jumbo{
    min-height: 250px;
    border: 1px solid black;
}

.content-main{
    min-height: 150px;
    border: 1px solid black;
    border-radius: 10px;
}

.content-footer{
    height: 70px;
    border: 1px solid black;
}


.box{
    background-color: red;
}



/* BG CONTAINERS COLORS */
.bg-light-green{
    background-color:rgb(72 188 155) ;
}

.bg-dark-gray{
    background-color: rgb(63 84 109);
}


/* BG CARDS COLOR */

.bg-purple{
    background-color: rgb(177 75 101);
}

.bg-green-aqua{
    background-color: rgb(68 164 181);
}

.bg-black{
    background-color: black;
}

.bg-light-blue{
    background-color: rgb(58 131 193);
}

.bg-blue{
    background-color: rgb(35 57 181);
}

.bg-light-brown{
    background-color: rgb(201 178 163);
}