

/* STAR SELECTOR */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* STYLE CLASS */
.content-header{
    height: 70px;
    /* border: 1px solid black; */
}

.content-main-jumbo{
    /* min-height: 250px; */
}

.content-main{
    /* min-height: 150px; */
    /* border: 1px solid black;  */
    /* border-radius: 10px; */
}

.content-footer{
    /* height: 70px; */
    /* border: 1px solid black; */
}

.content-main-jumbo > img{
    width: 150px;
}

.star-icon::after, .star-icon::before{
    content: "";
    width: 70px;
    height: 3px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
}


.star-icon-black::after, .star-icon-black::before{
    content: "";
    width: 70px;
    height: 3px;
    background-color:black;
    display: inline-block;
    vertical-align: middle;
}

.content-main > img{
    width: 100%;
}

.underline-input{
    padding: 20px 5px;
    border: none;
    border-bottom: 1px solid gray;
    display: block;
    width: 100%;
}

.font{
    font-size: 10px;
}

.text-green{
    color: #0edb0e;
}

.circle{
    padding: 1px 7px;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
}




/* BG CONTAINERS COLORS */
.bg-light-green{
    background-color:rgb(72 188 155) ;
}

.bg-dark-gray{
    background-color: rgb(63 84 109);
}




